# Anomaly Detection Project

# Imports

In [7]:
#standard DS imports
import numpy as np
import pandas as pd
import math
import os

#custom imports
from env import get_connection
import acquire
import prepare
import functions

#filter out any noisy warning flags
import warnings
warnings.filterwarnings("ignore")

# Acquire

- Data acquired from the codeup curriculum_logs database
- It contained 847,330 rows and 15 columns before cleaning
- Each row represents a log in into codeup's website and curriculum
- Each column represents information about the log in and the user

In [8]:
df = acquire.offline_lesson_kernel_restart()

# Prepare

Prepare Actions:

- Added a column (fixed_date) that combined the date and time columns
- Set the index to the fixed_date column
- Dropped unnecessary and redundant columns
- Added four columns to identify the codeup programs
- Added a column to identify if a log in attempt occured when a codeup student was active or not

In [9]:
df = prepare.prep_curr_logs(df)

# A brief look at the data

In [10]:
df.head()

,path,user_id,cohort_id,ip,name,start_date,end_date,created_at,updated_at,program_id,fixed_date,data,web,php,front_end,is_active
fixed_date,,,,,,,,,,,,,,,,
2018-01-26 09:55:03,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,4,2018-01-26 09:55:03,False,False,True,4,0
2018-01-26 09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,4,2018-01-26 09:56:02,False,False,True,4,0
2018-01-26 09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,4,2018-01-26 09:56:05,False,False,True,4,0
2018-01-26 09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,4,2018-01-26 09:56:06,False,False,True,4,0
2018-01-26 09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,4,2018-01-26 09:56:24,False,True,False,4,1

# Explore

# 1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?

In [5]:
#function

***Takeaways***

# 2. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?

In [12]:
#function
new_df = functions.Q_two(df)
new_df

                                               path    ip
cohort_id
1.0                                    javascript-i   294
2.0                     content/php_ii/command-line     6
4.0                        mkdocs/search_index.json     1
6.0                               javascript-ii/es6    10
7.0                                content/html-css    29
8.0                                        java-iii    57
9.0                                content/html-css     2
11.0                                       html-css    12
12.0                               content/html-css    19
13.0                                     index.html    84
14.0                                     index.html   877
15.0                                         java-i    19
16.0                                         spring    65
17.0                                   javascript-i   128
18.0                                   javascript-i    69
19.0                          content/laravel/intro    38
21.0                                         spring   364
22.0                                         spring   744
23.0                       mkdocs/search_index.json   721
24.0                                   javascript-i   884
25.0                                            toc   991
26.0                                   javascript-i   722
27.0                                            toc   697
28.0                                   javascript-i  1817
29.0                                            toc  1465
31.0                                            toc   638
32.0                       search/search_index.json   761
33.0                       search/search_index.json  1380
34.0       1-fundamentals/modern-data-scientist.jpg   650
51.0                                   javascript-i   896
52.0                                            toc   964
53.0                                            toc  1293
55.0                        6-regression/1-overview   595
56.0                       search/search_index.json  1497
57.0                       search/search_index.json  1095
58.0                                            toc  1022
59.0                        classification/overview  1109
61.0                       search/search_index.json   660
62.0                                            toc  1866
132.0                                  javascript-i   631
133.0      classification/scale_features_or_not.svg   463
134.0                                  javascript-i   676
135.0                                           toc   910
137.0        fundamentals/modern-data-scientist.jpg   627
138.0                                           toc   451
139.0           javascript-i/introduction/operators   179

***Takeaways***

# 3. Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?

In [ ]:
#function

***Takeaways***

# 6. What topics are grads continuing to reference after graduation and into their jobs (for each program)?

In [ ]:
#function

***Takeaways***

# 7. Which lessons are least accessed?

In [ ]:
#function

***Takeaways***